<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yinhootech.YinheMobileApp.xh"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>


    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="22" />

    <application
      android:name=".MainApplication"
      android:allowBackup="true"
      android:label="@string/app_name"
      android:icon="@mipmap/icon_xh"
      android:theme="@style/AppTheme">
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
        <meta-data
                android:name="UMENG_APPKEY"
                android:value="57ee0f76e0f55acb9e003128" >
        </meta-data>
        <meta-data
                android:name="UMENG_MESSAGE_SECRET"
                android:value="cc9f6161c30c61cbf45710b035f2077a" >
        </meta-data>
    </application>
</manifest>
